---
import ZalandoTechRadar from "@components/radar/zalando/ZalandoTechRadar.tsx";

const { ...props } = Astro.props;
---

<section {...props} class="mt-20">
  <ZalandoTechRadar client:load />
</section>
