---
import type { ImageMetadata } from "astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  img: ImageMetadata;
  title: string;
  description: string;
}

const {
  img,
  title = "title",
  description = "description",
  ...props
} = Astro.props;
---

<div
  class:list={[
    props.class,
    "max-w-sm relative rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800",
    "transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300",
  ]}
>
  <img class="h-1/2 w-full rounded-t-lg" src={img.src} alt="Project's image" />
  <div class="p-5">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
    <p
      class="mb-16 line-clamp-3 overflow-hidden text-ellipsis font-normal text-gray-700 dark:text-gray-400"
    >
      {description}
    </p>
    <a
      href="#"
      class="absolute bottom-3 left-4 inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Read more
      <svg
        class="ms-2 h-3.5 w-3.5 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</div>
