---
import ProjectCard from "@components/project/ProjectCard.astro";
import SpriteAnimator from "@components/animation/SpriteAnimator.astro";
import YellowLoafSpriteSheet from "@assets/sprites/yellow-loaf.png";
import DeliveryPunchImg from "@assets/images/delivery-punch.png";
import TheOfficeShowdownImg from "@assets/images/the-office-showdown.jpeg";
import JunctionAitoImg from "@assets/images/junction-partnered-aito.jpg";

import { getCollection } from "astro:content";
const projectEntries = await getCollection("project");

const { ...props } = Astro.props;
---

<section {...props} class="my-36">
  <div class="container">
    <div class="relative flex w-fit flex-row">
      <h2 class="mb-16 text-6xl">What has I done lately?</h2>
      <SpriteAnimator
        class="absolute -right-40 -top-[65px]"
        slot="sprite"
        src={YellowLoafSpriteSheet}
        totalFrames={4}
      />
    </div>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        projectEntries.map((entry) => {
          return (
            <ProjectCard
              img={entry.data.cover}
              title={entry.data.title}
              description={entry.data.summary}
            />
          );
        })
      }
    </div>
  </div>
</section>
