---
import ExpertiseCard from "@components/expertise/ExpertiseCard.astro";
import SpriteAnimator from "@components/animation/SpriteAnimator.astro";
import SiameseLickingSpriteSheet from "@assets/sprites/siamese-licking.png";

const { ...props } = Astro.props;
---

<section {...props} class="my-36">
  <div class="container">
    <div class="relative flex w-fit flex-row">
      <h2 class="mb-16 text-6xl">Let's talk</h2>
      <SpriteAnimator
        class="absolute -right-40 -top-[75px]"
        slot="sprite"
        src={SiameseLickingSpriteSheet}
        totalFrames={15}
      />
    </div>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      <ExpertiseCard
        icon="vscode-icons:file-type-devcontainer"
        title="Fullstack"
      >
        About 7 years of developing mobile and web applications, with broad and
        deep knowledge in both frontend and backend.
      </ExpertiseCard>
      <ExpertiseCard icon="vscode-icons:file-type-gdscript" title="Game">
        Passionate in games and currently pursuing game development as a side
        career.
      </ExpertiseCard>
      <ExpertiseCard icon="vscode-icons:file-type-pythowo" title="AI / ML">
        Learning about Big Data as well as AI and Machine Learning at Aalto
        University to support current profession.
      </ExpertiseCard>
    </div>
  </div>
</section>
