---
import CertificateCard from "@components/certificate/CertificateCard.astro";
import DeliveryPunchImg from "@assets/images/delivery-punch.png";
import TheOfficeShowdownImg from "@assets/images/the-office-showdown.jpeg";
---

<section class="my-36">
  <div class="container">
    <h2 class="mb-16 text-6xl">What has I done recently?</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
      <CertificateCard icon="logos:coursera" />
      <CertificateCard icon="logos:udacity-icon" />
    </div>
  </div>
</section>
