---
import CertificateCard from "@components/certificate/CertificateCard.astro";
import DeliveryPunchImg from "@assets/images/delivery-punch.png";
import TheOfficeShowdownImg from "@assets/images/the-office-showdown.jpeg";
---

<section class="my-36">
  <div class="container">
    <h2 class="mb-16 text-6xl">Recent achievements</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2">
      <CertificateCard
        icon="logos:coursera"
        url="https://coursera.org/share/599be3206ac3a781d5a47e00c4e864a4"
        title="Story and Narrative Development for Video Games"
        description="California Institute of the Arts"
        date="Apr 2024"
      />
      <CertificateCard
        icon="logos:coursera"
        url="https://coursera.org/share/2e8a5910446ff42c109ccbdb6232cca7"
        title="Introduction to Game Design"
        description="California Institute of the Arts"
        date="Mar 2024"
      />
      <CertificateCard
        icon="logos:udacity-icon"
        url="https://github.com/longv/certificate/blob/master/udacity-cpp-nanodegree.pdf"
        title="C++ Nanodegree Program"
        description="Udacity"
        date="2020 - 2021"
      />
    </div>
  </div>
</section>
