---
import BaseLayout from "@layouts/BaseLayout.astro";
import Welcome from "@components/intro/Welcome.astro";
import AboutMe from "@components/intro/AboutMe.astro";
import ExpertiseSummary from "@components/expertise/ExpertiseSummary.astro";
import ProjectShowcase from "@components/project/ProjectShowcase.astro";
import CertificateShowcase from "@components/certificate/CertificateShowcase.astro";
import TechRadar from "@components/radar/TechRadar.astro";
import MainNavBar from "@components/navigation/MainNavBar.tsx";
---

<BaseLayout subtitle="Home">
  <div class="flex h-fit w-full flex-col items-center">
    <Welcome id="welcome" data-main-nav-item />
    <AboutMe id="about" data-main-nav-item />
    <ExpertiseSummary id="expertise" data-main-nav-item />
    <ProjectShowcase id="project" data-main-nav-item />
    <CertificateShowcase id="certificate" data-main-nav-item />
    <TechRadar id="radar" data-main-nav-item />
    <div class="sticky bottom-3 w-fit">
      <MainNavBar client:load />
    </div>
  </div>
</BaseLayout>
