---
import { Container, Grid, Flex, Avatar, Button } from "@radix-ui/themes";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";

import { Image } from "astro:assets";
import AvatarImg from "@assets/img/avatar.jpg";

import { getEntry } from "astro:content";
const entry = await getEntry("about", "me");
const { Content } = await entry.render();
---

<Flex className="w-screen h-screen">
  <Container align="center" width="max-content">
    <Flex justify="center" pb="4">
      <div class="block h-40 w-40 overflow-hidden rounded-full shadow-xl">
        <Image class="scale-150" src={AvatarImg} alt="My avatar" />
      </div>
    </Flex>
    <Grid columns="2" gap="3">
      <a href="https://github.com/longv">
        <Button variant="outline" radius="full">
          <GitHubLogoIcon /> GitHub
        </Button>
      </a>
      <a href="https://www.linkedin.com/in/long-vu-400374114/">
        <Button variant="outline" radius="full">
          <LinkedInLogoIcon /> LinkedIn
        </Button>
      </a>
    </Grid>
  </Container>
  <Container flexGrow="3">
    <Content />
  </Container>
</Flex>
