---
import { Button } from "@radix-ui/themes";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";

import { Image } from "astro:assets";
import AvatarImg from "@assets/images/avatar.jpg";

import { getEntry } from "astro:content";
const entry = await getEntry("about", "me");
const { Content } = await entry.render();

const { ...props } = Astro.props;
---

<section {...props} class="my-36">
  <div class="container flex flex-row">
    <div>
      <div class="mb-8 block h-60 w-60 overflow-hidden rounded-full shadow">
        <Image src={AvatarImg} alt="My avatar" />
      </div>
      <div class="flex flex-row justify-evenly">
        <a href="https://github.com/longv">
          <Button variant="outline" radius="full">
            <GitHubLogoIcon /> GitHub
          </Button>
        </a>
        <a href="https://www.linkedin.com/in/long-vu-400374114/">
          <Button variant="outline" radius="full">
            <LinkedInLogoIcon /> LinkedIn
          </Button>
        </a>
      </div>
    </div>
    <div class="grow px-20">
      <Content />
    </div>
  </div>
</section>
