---
import { Button } from "@radix-ui/themes";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";

import { Image } from "astro:assets";
import AvatarImg from "@assets/images/avatar.jpg";

const { ...props } = Astro.props;
---

<section {...props} class="mb-36">
  <div
    class:list={[
      "container flex w-svw flex-col gap-y-5",
      "md:flex-row md:gap-y-0",
    ]}
  >
    <div class:list={["flex flex-col items-center"]}>
      <div class="mb-8 block h-60 w-60 overflow-hidden rounded-full shadow">
        <Image src={AvatarImg} alt="My avatar" />
      </div>
      <div
        class:list={[
          "flex w-full flex-row justify-center gap-x-2",
          "md:justify-evenly md:gap-x-0",
        ]}
      >
        <a href="https://github.com/longv">
          <Button variant="outline" radius="full">
            <GitHubLogoIcon /> GitHub
          </Button>
        </a>
        <a href="https://www.linkedin.com/in/long-vu-400374114/">
          <Button variant="outline" radius="full">
            <LinkedInLogoIcon /> LinkedIn
          </Button>
        </a>
      </div>
    </div>
    <div class="grow px-20">
      <h2
        class:list={[
          "content-center text-5xl my-3 font-semibold tracking-tight text-gray-900 ",
          "dark:text-white",
        ]}
      >
        Hi there!
      </h2>
      <p class:list={["my-5 font-normal text-gray-700", "dark:text-gray-400"]}>
        You might have met my bosses. Now, here are some facts about me:
      </p>
      <ul>
        <li>I'm a software engineer based in Helsinki, Finland.</li>
        <li>I'm both a cat and dog person.</li>
        <li>
          I'm a hardcore gamer who enjoys playing all kinds of games, especially
          FPS.
        </li>
        <li>
          I'm also a sports enthusiast and enjoy playing almost every sport.
        </li>
      </ul>
    </div>
  </div>
</section>
