---
import WallpaperImg from "@assets/images/wallpaper.png";

const { ...props } = Astro.props;
---

<section {...props} class="h-screen w-screen">
  <img src={WallpaperImg.src} alt="Site's wallpaper" />
</section>
