---
import "@radix-ui/themes/styles.css";
import "@astrojs/tailwind/base.css";
import "@assets/scss/globals.scss";
import { Theme } from "@radix-ui/themes";
import SiteMeta from "@components/SiteMeta.astro";
import { slide } from "astro:transitions";

const {
  title = "longv",
  subtitle = "Purrfolio",
  description = "",
} = Astro.props;
---

<html lang="en" dir="ltr" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      title={title}
      subtitle={subtitle}
      description={description.substring(0, 100)}
    />
  </head>
  <body>
    <Theme>
      <main id="main-content" transition:animate={slide({ duration: "0.6" })}>
        <slot />
      </main>
    </Theme>
  </body>
</html>
